# Ignore virtual environment
.venvn/

#Ignore checkpoints
training_checkpoints_discriminator/
training_figures*/
training_figures_1/
training_checkpoints*/
training_figures_wgan_sa/

# Ignore dataset folders
asvpoof-2019-dataset/
datasetNEW/
SceneFake/
generator_comparison/
img/
uploads/
static/
Reactions/


# Ignore common Python cache and dependencies
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
IMG2/
img/
new shit/
graphs.ipynb
sp3.ipynb
spoof_detector*.h5
best_lightweight_model.keras
audio_errors*.log
discriminator_epoch*.log
generator_epoch*.log
mel_spectrograms.png
noise_reduced_audio.wav
original_audio.wav
critic_wgan_sa_epoch*.h5
generator_wgan_sa_epoch*.keras
generator_wgan_sa_epoch*.h5
spoof_detector*.keras
Bi_GRU_RNN.h5