# Ignore virtual environment
.venvn/

#Ignore checkpoints
training_checkpoints_discriminator/
training_figures/

# Ignore dataset folders
asvpoof-2019-dataset/
datasetNEW/
SceneFake/

# Ignore common Python cache and dependencies
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
